
<%= form_tag articles_path, :method => 'get', id: "search-form" do %>
	<div class="input-group">
		<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "chercher un article..." %>
	    <span class="input-group-btn">
	    	<button class="btn btn-default" type="submit"><li class="glyphicon glyphicon-search"></li></button>
	    </span>
	</div>
<% end %>
