 <div class="col-lg-12">
	<%= form_for([@article, @article.tags.build]) do |f| %>
		<div class="input-group">
			<%= text_field_tag :content, params[:content], class: "form-control", placeholder: "ajouter un Tag..." %>
		
			<span class="input-group-btn">
			    <button class="btn btn-default" type="submit">Enregistrer</button>
			</span>
		</div>
	<% end %>
</div>