
 <div class="col-lg-8">
  		<h4 style="display: inline-block;"><span class="label label-default"><%= tag.content %></span></h4>
  		<span class="text-muted small"> à <%= tag.created_at.strftime("%H:%M:%S") %> </span>
</div>
<div class="col-lg-4" style="padding-top: 5px;">
	<%= link_to 'Supprimer', [tag.article, tag],
           method: :delete,
           data: { confirm: 'Confirmer votre action ?' }, class: "btn btn-default btn-sm" %>
</div>